* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Helvetica';
}

body {
  margin: 0;
  padding: 0;
}

#view {
  position: absolute;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  width: 70%;
  
}

#speaker-notes {
  border-left: 2px solid #222;
  background-color: #eee;
  padding: 0 1em;
  line-height: 1.4em;
  position: absolute;
  top: 0%;
  left: 70%;
  height: 100%;
  width: 30%;
  overflow: auto;
}

#view > * {

}

#view h1, 
#view h2, 
#view h3, 
#view h4, 
#view h5 {
  margin-top: 0;
  text-align: center;
}

#view {
  
}

#slide-contents {
  text-align: center;
  font-size: 2vw;
}

#slide-contents pre {
  text-align: left;
}

code {
  font-family: "Monaco", "monospace";
}

.tooltip, .tooltip * {
  outline: 2px solid yellow;
}

#view pre {
  background-color: #000;
  color: #fff;
  padding: 1em;
  min-width: 24em;
}

#toolbar {
  position: absolute;
}

